APP_ENV=dev
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=table_db

# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_WHATSAPP_NUMBER=

EMAIL_RESEND_API_KEY=
EMAIL_FROM=
VERIFICATION_CODE_EXPIRATION_MINUTES=
